.navigation__checkbox {
    display: none;
}
.navigation__button {
    background-color: #ffffff;
    height: 30px;
    width: 30px;
    top: 16px;
    right: 60px;
    position: fixed;
    z-index: 9999;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
@media (max-width: 56.25em) {
    .navigation__button {
        top: 16px;
    }
}
@media (max-width: 37.5em) {
    .navigation__button {
        right: 20px;
    }
}
.navigation__background {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: fixed;
    top: 18px;
    right: 60px;
    z-index: 999;
    background-image: radial-gradient(#141516, rgba(31, 34, 36, 0.9));
    transition: all 0.8s cubic-bezier(0.7, 0, 0.84, 0);
}
@media (max-width: 56.25em) {
    .navigation__background {
        top: 18px;
    }
}
@media (max-width: 37.5em) {
    .navigation__background {
        right: 20px;
    }
}
.navigation__nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    opacity: 0;
    width: 0;
    transform: translate(30%, -20%);
    transition: all 0.8s ease-in;
}

.navigation__checkbox:checked ~ .navigation__background {
    transform: scale(150);
}
.navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%;
    transform: translate(0, 0);
}
.navigation__icon {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
    display: inline-block;
    width: 18px;
    height: 2px;
    background-color: #333;
    transition: all 0.2s;
}
.navigation__icon::before,
.navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
}
.navigation__icon::before {
    top: -6px;
}
.navigation__icon::after {
    top: 6px;
}
.navigation__checkbox:checked ~ .navigation__button .navigation__icon {
    background-color: transparent;
}
.navigation__checkbox:checked ~ .navigation__button .navigation__icon::before {
    top: 50%;
    transform: rotate(135deg);
}
.navigation__checkbox:checked ~ .navigation__button .navigation__icon::after {
    top: 50%;
    transform: rotate(-135deg);
}
